body {
  font-family: "Times New Roman";
  background-color: #ffffff;
  background-image:
    repeating-linear-gradient(
      45deg,
      #ffc24047,
      #ffc24047 20px,
      transparent 20px,
      transparent 40px
    ),
    repeating-linear-gradient(
      -45deg,
      #ffc24047,
      #ffc24047 20px,
      transparent 20px,
      transparent 40px
    );
}

h1 {
  font-size: 42px;
  text-align: center;  
  color: blue;
}
.rainbow {
  font-size: 48px;
  animation: rainbow 1s linear infinite;
}

@keyframes rainbow {
  0%   { color: red; }
  16%  { color: orange; }
  33%  { color: yellow; }
  50%  { color: lime; }
  66%  { color: cyan; }
  83%  { color: magenta; }
  100% { color: red; }
}
.notice {
  display: flex;
  justify-content: center; /* ページ中央 */
}

.notice-box {
  width: 260px;            /* ← タイトルと同じ幅にする */
  text-align: left;        /* 中身は左寄せ */
  font-family: monospace;  /* 文字幅を揃える（超重要） */
  color: black;
}

.notice-title {
  display: block;        /* ← これが超重要 */
  color: inherit;        /* 親の色を使う */
  /* text-decoration: none;  */
  text-align: center;      /* 飾りは中央 */
  color: black;
}

.notice-text {
 /* text-decoration: none; */
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffe9a7;
  opacity: 0.4;
  z-index: -1;
}

.plaid {
  position: relative; /* ← 土台にする */
  min-height: 100vh; 
  background-color: #ffffff;
}

/* 左の模様 */
.plaid::before,
.plaid::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;      /* 模様の太さ */
  height: 100%;
  background-image:
    repeating-linear-gradient(
      45deg,
      #ffc24047,
      #ffc24047 20px,
      transparent 20px,
      transparent 40px
      z-index: 0;
    ),
    repeating-linear-gradient(
      -45deg,
      #ffc24047,
      #ffc24047 20px,
      transparent 20px,
      transparent 40px
    );
}

/* 左 */
.plaid::before {
  left: 0;
}
.plaid > * {
  position: relative;
  z-index: 1;
}

/* 右 */
.plaid::after {
  right: 0;
}
